body {
	background-color: #eeeef1;
	font-family: Arial;
	font-weight: bolder;
}

.mainelement {
	background-color: White;
	margin: 30px;
	padding: 20px; 
	min-width: 700px;
}

h3, h4 {
	padding: 10px 0px;
	}

.header {
	border-left: 4px solid Gainsboro;
	background-color: #eeeef1;
	color: #9696a0;
	padding-left: 20px;
	margin: 30px;
}

.theader {
	box-shadow: 3px 0px rgba(238, 238, 241, 1);
	background-color: #eeeef1;
	color: #9696a0;
		
}

.panelelement{
	display: inline-block;
	white-space: nowrap;
}
.inpanel{
	display: inline-block;
	white-space: nowrap;
}

#panel {
	margin: 8px;
	min-width: 680px;
}

button {
	background-color: #476fff;
	padding: 8px 12px;
	border-radius: 10px;
	color: White;
	border: 0px;
	margin-top: 10px;

}

table{
	width:100%;
}

tbody {
	font-weight: normal;
	font-size: 15px;
}

td {
	padding: 15px;
	vertical-align: top;
	word-wrap: break-word;
	max-width: 0px; /* для нормальной работы таблицы с длинными словами*/
}

.right {
	float: right;
}

#searchelement {
	position: relative;
	bottom: 15px;
	float: right;
}
#sort_where {
	width: 35%
}
#sort_type {
	width: 24%
}
#serch_type, #serch_feeld {
	width: 60%
}

.tdcomment {
	width:48%;
	/* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.tdate {
	width:18%;
}

.tablebutton {
	float: right;
	margin-left: 6px;
	margin-top: 0px;
}

.formfeald {
	width: 92%;
	margin-bottom: 30px;
	margin-top: 10px;
}

input::placeholder{
	color: #aaaaad;
}

#popup_body {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.8 );
	top: 0;
	left: 0;
	display: none;
	/* opacity: 0; для продвинутой анимации открытия */
	/* visibility: hidden; */
}

#popup_font {
	background-color: #eeeef1;
	padding: 1px;
	margin: 20%;
	min-width: 400px;
}

#popup_content {
	padding-bottom: 60px;
	min-width: 300px;
}

label, input {
    display: block;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	resize: none;
	margin-top: 10px;
	overflow-y: hidden;
}


@media (max-width: 800px) {
	#popup_font {
	  padding: 1px;
	  margin-right: 0%;
	  margin-left: 0%;
	  min-width: 290px;
}
	#popup_content {
	  min-width: 250px;
}
	.mainelement {
	  margin: 0px;
	  padding: 5px; 
	  min-width: 290px;
}
	#panel {
	  margin: 3px;
	  min-width: 300px;
}
	.header {
	  padding-left: 4px;
	  margin: 2px 2px;
}
	tbody {
	  font-size: 10px;
}

	td {
	  padding: 2px;
	  min-height: 30px;
	  overflow: hidden;
      text-overflow: ellipsis;
}
	#panel {
	  /* margin: 8px; */
	  min-width: 320px;
}
	.panelelement{
	  display: block;
	  white-space: nowrap;
	  width: 100%;
}
	.inpanel{
	  margin: 6px 0px;
}
	#searchelement {
	  position: static;
	  float: none;
}
	#sort_where, #serch_feeld {
	  width: 90%
}
	#sort_type {
	  width: 50%
}
	#serch_type {
	  width: 110%
}
}

@media (max-width: 560px) {
 body { 
	  min-width: 320px;
	  margin: 0px;
	  font-size: 10px;
}
	button {
	font-size: 10px;
	padding: 3px 4px;
	border-radius: 5px;
}
.inpanel{
	  font-size: 10px;
}
}