:root{
	--body-color: #eeeef1;
	--heder-color: #9696a0;
	--mainelement-color: White;
	--them-change-time: 0.4s;
}/*Это не будет работать в IE*/

img {
	display: none;
	/*Иначе при загрузке на выскакивает
	2 картинки в первое мгновение.*/
	height: 42px;
	position: absolute;
	right: 0px;
	top: 0px;
}

body {
	transition:	background-color var(--them-change-time);
	background-color: var(--body-color);
	font-family: Arial;
	font-weight: bolder;
}

.mainelement {
	transition-duration: var(--them-change-time);
	background-color: var(--mainelement-color);
	margin: 30px;
	padding: 20px; 
	min-width: 700px;
}

h3, h4 {
	padding: 10px 0px;
	}

.header {
	transition-duration: var(--them-change-time);
	border-left: 4px solid Gainsboro;
	background-color: var(--body-color);
	color: var(--heder-color);
	padding-left: 20px;
	margin: 30px;
	position: relative;
}

.theader {
	box-shadow: 3px 0px var(--body-color);
	background-color: var(--body-color);
	color: var(--heder-color);
	transition-duration: var(--them-change-time);
}

.panelelement{
	display: inline-block;
	white-space: nowrap;
}
.inpanel{
	display: inline-block;
	white-space: nowrap;
}

#panel {
	margin: 8px;
	min-width: 680px;
}

button {
	padding: 8px 12px;
	border-radius: 10px;
	color: White;
	border: 0px;
	margin-top: 10px;
	transition-duration: var(--them-change-time);
	background:linear-gradient(#4949ff, #0000a0) border-box;
}

button:hover {
	box-shadow: inset 0 0 13px 2px black;
}

table{
	width:100%;
	/* table-layout: fixed; */
}

tbody {
	font-weight: normal;
	font-size: 15px;
}

td {
	padding: 15px;
	vertical-align: top;
	max-width: 0px;
	/* max-height: 30px; */
	/* word-wrap: word-wrap; */
	overflow: hidden;
/*	display: block; */
/*	overflow-y: hidden; */
	text-overflow: ellipsis;
	/* для нормальной работы таблицы с длинными словами*/
}

.right {
	float: right;
}

#searchelement {
	position: relative;
	bottom: 15px;
	float: right;
}
#sort_where {
	width: 35%
}
#sort_type {
	width: 24%
}
#serch_type, #serch_feeld {
	width: 60%
}

.tdcomment {
	width: 48%;
}

.tdate {
	width: 18%;
}

.tablebutton {
	float: right;
	margin-left: 6px;
	margin-top: 0px;
}

.redbutton {
	background-color: red;
	background:linear-gradient(red, #940000) border-box;
}

.formfeald {
	width: 92%;
	margin-bottom: 30px;
	margin-top: 10px;
}

input::placeholder{
	color: #aaaaad;
}

#popup_body {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.8 );
	top: 0;
	left: 0;
	display: none;
	/* opacity: 0; для продвинутой анимации открытия */
	/* visibility: hidden; */
}

#popup_font {
	background-color: var(--body-color);
	padding: 1px;
	margin: 20%;
	min-width: 400px;
}

#popup_content {
	padding-bottom: 60px;
	min-width: 300px;
}

label, input {
    display: block;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	resize: none;
	margin-top: 10px;
	overflow-y: hidden;
}


@media (max-width: 800px) {
	#popup_font {
	  padding: 1px;
	  margin-right: 0%;
	  margin-left: 0%;
	  min-width: 290px;
}
	#popup_content {
	  min-width: 250px;
}
	.mainelement {
	  margin: 0px;
	  padding: 5px; 
	  min-width: 290px;
}
	#panel {
	  margin: 3px;
	  min-width: 300px;
}
	.header {
	  padding-left: 4px;
	  margin: 2px 2px;
}
	tbody {
	  font-size: 10px;
}
	td {
	  padding: 2px;
}
	#panel {
	  min-width: 320px;
}
	.panelelement{
	  display: block;
	  white-space: nowrap;
	  width: 100%;
}
	.inpanel{
	  margin: 6px 0px;
}
	#searchelement {
	  position: static;
	  float: none;
}
	#sort_where, #serch_feeld {
	  width: 90%
}
	#sort_type {
	  width: 50%
}
	#serch_type {
	  width: 110%
}
}

@media (max-width: 560px) {
	body { 
	  min-width: 320px;
	  margin: 0px;
	  font-size: 10px;
}
	button {
	  font-size: 10px;
	  padding: 3px 4px;
	  border-radius: 5px;
}
	.inpanel{
	  font-size: 10px;
}
	img {
	  height: 33px;
}
}
/* Стоит заменить формулами. */
@media (min-width: 1200px) {
	button {
	  font-size: 20px;
}
	.inpanel{
	  font-size: 20px;
}
	.tdate {
	  width: 10%;
}
	body {
	  font-size: 20px;
}
	tbody {
	  font-size: 20px;
}
}